html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: black;
  color: whitesmoke;
  min-width: 992px;
  min-height: 100vh;
  background: linear-gradient(135deg, rgba(0, 30, 0, 1), rgba(0, 4, 0, 1));
}

img {
  width: 15%;
}
.invisible {
  display: none;
}

.new-game-button:active,
.new-game-button:focus {
  outline: none;
}

.new-game-button:hover {
  background-position: -20px -20px;
}

.new-game-button:focus:not(:active) {
  box-shadow: rgba(40, 170, 255, 0.25) 0 0 0 0.125em;
}

.main-area-container {
  width: 85vw;
  min-width: 844px;
  margin: 2rem auto;
}

.header-container {
  margin-left: calc(8.5vw + 4rem);
}

/* players */

.players-container {
  display: flex;
  justify-content: center;
}

.container {
  padding: 2rem;
  border: 4px outset goldenrod;
  margin: 1rem;

  background-color: #05351b;
}

.player-container {
  width: 40%;
  height: 375px;
}

.pot-container,
.cc-container {
  width: calc(68vw + 2rem);
  margin: 1rem auto;
  min-width: 708px;
}

.cc-container {
  min-height: calc(174px + 8px + 2rem);
}
.bet-slider {
  width: 80%;

  margin: 1rem auto 1rem 0;
}

.card-image {
  width: 125px;
}
